<a href="https://colab.research.google.com/github/erlenlgu/random/blob/main/ITGK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import math
import scipy
import random
import pandas

# Remove duplicates in list (HACK om rekkefølgen ikke er viktig)

In [84]:
# First convert to set, then convert back to list
a = [1,2,3,3,4,5,5,5,5,'alpha','alpha','beta']
list(set(a))

[1, 2, 3, 4, 5, 'beta', 'alpha']

# If / elif / else in one line

In [98]:
title = 'Title'
if title.lower() == 'title': print(title.upper())

TITLE

# Tell antall like bokstaver i tuple med strings (eksempel seier/uavgjort/tap)

In [2]:
def home_draw_away(matches):
  result = [0,0,0]
  for el in matches:
    if el.lower() == 'h':
      result[0] += 1
    elif el.lower() == 'u':
      result[1] += 1
    elif el.lower() == 'b':
      result[2] += 1
  return result

matches = ('h', 'a', 'b', 'u', 'u')
print(home_draw_away(matches))

[1, 2, 1]

# Posisjon til alle vokaler i string

In [5]:
def pos_vocals(text):
  vokal = 'aeiouyæøå'
  text = text.lower()
  posisjon = []
  i = 0
  for bokstav in text:
    if bokstav in vokal:
      posisjon.append(i)
    i += 1
  return posisjon

streng_med_vokaler = 'Dette er en Lang StrEng mEd vokaler'
print(pos_vocals(streng_med_vokaler))

[1, 4, 6, 9, 13, 20, 25, 29, 31, 33]

# Finn unike forkomster av ord i streng

In [6]:
def unique(test):
  liste = test.lower().split() # lager liste med ord
  tegn = '.,:;?!-_*@+' # definerer tegn som skal fjernes
  unikeOrd = [] # nullstiller liste
  for i in range(len(liste)):
    if liste[i][-1] in tegn: # Hvis siste tegn i et ord er ulovlig
      liste[i] = liste[i][:-1] # fjern det
    if liste[i] not in unikeOrd:
      unikeOrd.append(liste[i])
  return unikeOrd

test = 'dette er et Ord dette Dette katt Katt'

print(unique(test))

['dette', 'er', 'et', 'ord', 'katt']

# User input

In [13]:
def calculate():
  comp = input('Enter calculation: ').replace(',','.').replace(' ','')
  minliste = comp.split('+') # splitter først på +
  mellomliste = []
  summ = 0
  for el in minliste: # går gjennom element for element
    if '-' in el: # hvis tegnet - finnes i element
      delliste = el.split('-') # splitt på -
      summ += float(delliste[0]) # legg til det første elementet
      for i in range(1,len(delliste)): #trekk fra de andre
        summ -= float(delliste[i])
    else:
      summ += float(el)
  print(f'Result: {summ:.2f}')

calculate()

Enter calculation: 1 + 1 + 1 + 1
Result: 4.00

# Bytt ut tegn i streng med et annet tegn

In [15]:
tall_med_komma = '1,4'
tall_med_punktum = tall.replace(',', '.')
print(tall_med_punktum)

1.4

# Fjern mellomrom

In [16]:
streng_med_mellomrom = 'hei du'
streng_uten_mellomrom = streng_med_mellomrom.replace(' ', '')
print(streng_uten_mellomrom)

heidu

# Split streng ved bestemt tegn

In [19]:
comp = 'lol1+lol2+lol3+lol4'
minliste = comp.split('+')
print(minliste)

['lol1', 'lol2', 'lol3', 'lol4']

# Seconds to time h:m:s (12:04:01)

In [29]:
def sec_to_time(s):
  time = s//3600
  min = str((s-time*3600)//60)
  sek = str((s-time*3600)%60)
  if len(sek) < 2 :
    sek = '0' + sek
  if time > 0:
    if len(min) < 2 :
      min = '0' + min
      return str(time) + ':' + min+':'+sek
  else:
    return min+':'+sek

sec_to_time(seconds_total)

'2:01'

Mitt forsøk

In [28]:
seconds = 1
minutes = 2
hours = 0
seconds_total = seconds + minutes * 60 + hours * 60 * 60

def sec_to_time(seconds_total):
  h = seconds_total // 3600
  seconds_total -= h*3600

  m = seconds_total // 60
  seconds_total -= m*60

  s = seconds_total

  if m < 10:
    m = '0' + str(m)
  if s < 10:
    s = '0' + str(s)

  if str(h) == '0':
    return str(m)+':'+str(s)
  else:
    return str(h)+':'+str(m)+':'+str(s)

  
sec_to_time(seconds_total)

'02:01'

# (h:m:s) til sekunder

In [157]:
def time_to_sec(tstring):
  liste = tstring.split(':')
  sek = 0
  if len(liste) == 1:
    sek = int(liste[0])
  elif len(liste) == 2:
    sek = int(liste[0])*60 + int(liste[1])
  else:
    if liste[0] != '':
      sek = int(liste[0])*3600
    if liste[1] != '':
      sek += int(liste[1])*60
    if liste[2] != '':
      sek += int(liste[2])
  return sek

Min implementasjon

# Enter a song (correct format)

In [61]:
def feilmelding():
  print('Ugyldige data! Formatet må være: Title;Artist;Genre;m:s')

def enter_song():
  print('Enter song (Title;Artist;Genre;m:s)')
  while True:
    sang = input('> ')
    sang = sang.split(';')
    if len(sang) != 4:
      feilmelding()
    else:
      if len(sang[-1].split(':')) == 2:
        min = sang[-1].split(':')[0]
        sek = sang[-1].split(':')[1]
        if min.isdigit() and sek.isdigit()\
          and int(min) < 60 and int(sek) < 60:
            return sang
        else:
          feilmelding()
      else:
        feilmelding()

enter_song()

Enter song (Title;Artist;Genre;m:s)
> Africa;Toto;Rock;5:31

['Africa', 'Toto', 'Rock', '5:31']

Min implementasjon

In [58]:
def enter_song():
  print('Enter song (Title;Artist;Genre;m:s)')
  streng = input('> ').split(';')
  time = streng[3].split(':')

  while ( (len(streng) != 4) or (int(time[1]) > 59) or (int(time[1]) < 0)  or (int(time[0]) < 0) ):
    print('Ugyldige data')
    streng = input('Enter song (Title;Artist;Genre;m:s)')

  print(streng)

enter_song()

Enter song (Title;Artist;Genre;m:s)
> Africa;Toto;Rock;5:31
['Africa', 'Toto', 'Rock', '5:31']

# Les linje for linje i fil

In [113]:
def read_file(filename):
  f = open(filename,'r')
  liste = []
  for linje in f:
    liste.append(linje.strip().split(';')) #.strip() fjerner mellomrom på starten og slutten av en streng
  f.close()
  return liste

read_file('test.txt')

[['Africa', 'Toto', 'Rock', '0:45'],
 ['Title1', 'Artist1', 'Rock', '0:43'],
 ['Title22', 'Artist2', 'Blues', '0:42']]

# List content...

Min implementasjon

In [119]:
def list_content(filename, choice):
  liste = read_file(filename)

  choice = choice.lower()
  if choice == 'title':
    titles = set([x[0] for x in liste])
    return list(titles)
  elif choice == 'artist':
    artists = set([x[1] for x in liste])
    return list(artists)
  elif choice == 'genre':
    genres = set([x[2] for x in liste])
    return list(genres)
  else:
    return []
  
list_content('test.txt', 'genre')

['Blues', 'Rock']

# List sanger av en viss sjanger (f string)

In [158]:
def list_songs_genre(filename):
  content = read_file(filename)

  available_genres = list_content(filename, 'genre')

  genre = input(f'Choose genre {available_genres}:').lower()

  available_genres = [x.lower() for x in available_genres]

  if genre not in available_genres: return [], '0:0'

  song_list = []
  total_time = 0
  for song in content:
    if song[2].lower() == genre:
      song_list.append([song[0], song[1], song[3]])
      total_time += time_to_sec(song[3])

  return song_list, sec_to_time(total_time)

list_songs_genre('test.txt')

Choose genre ['Blues', 'Rock']:rock

([['Africa', 'Toto', '0:45'], ['Title1', 'Artist1', '1:43']], '2:28')

# Pretty print (f print og venstrejustert)

In [169]:
def pretty_print(filename):
  songs, total_time = list_songs_genre(filename)

  print(f'\n{"Artist":<20}{"Title":<30}{"Time"}')

  for el in songs:
    print(f'{el[1][0:19]:<20}{el[0][0:29]:<30}{el[2]}')
  print(f'\nTotal tid:{total_time:>10}')

pretty_print('test.txt')

Choose genre ['Blues', 'Rock']:rock

Artist              Title                         Time
Toto                Africa                        0:45
Artist1             Title1                        1:43

Total tid:      2:28

# Skriv til fil

In [189]:
def append_to_file(filename,text):
  f = open(filename,'a')
  f.write(text)
  f.close()

def add_song_to_file(filename):
  new_song = enter_song()
  streng = '\n'+';'.join(new_song)

  song_list = read_file(filename)

  exists = False
  for i in range(len(song_list)):
    if new_song[0] == song_list[i][0] and new_song[1] == song_list[i][1]:
      print(f'{new_song[0]} already exists in {filename}')
      exists = True
      break

  if not exists:
    append_to_file(filename,streng)
    print(f'{new_song[0]} has been added to {filename}')

add_song_to_file('test.txt')

Enter song (Title;Artist;Genre;m:s)
> sdfds;sdfsfd;sdfsdf;34:45
sdfds has been added to test.txt

# List of strings to one string seperated by a symbol

In [187]:
liste = ['en', 'to', 'tre']
streng = ','.join(liste)
print(streng)

en,to,tre